.frmChamado {
    width:500px;
    height:auto;
    background: white;
    padding:25px;
    border-radius:5px;
    margin-left:auto;
    margin-right: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.frmChamado h2 {
    text-align: center;
}
.btnEnviar {
    text-align: right;
}
#editor {
    height:100px;
}