
.borda {
    height: 250px;
    border: 1px solid #000;
    text-align:center;
}
.borda p{
    font-size: 12px;
}
.borda span{
    font-size:12px;
}

.dadosRecebedor {
    height: 60px;
    
}
.dadosRecebedor p, span {
    display: inline;
}
.entregaVizinho {
    height:50px;
    border: 1px solid #000;
}
.entregaVizinho p {
    text-align:center;
    width:230px;
    font-size: 12px;
    font-weight: bold;
    background-color: #000000;
    color: #FFF;
}
.entregaVizinho span {
    font-size: 12px;
}
.destinatario {
    margin-top:2px;
    border: 1px solid #000;
}
.destinatario h6 {
    margin-left :0px !important;
    text-align:center;
    width:120px;
    font-size: 12px;
    font-weight: bold;
    background-color: #000000;
    color: #FFF;
}
.destinatario img {
    width:90px;
    margin: 0px 15px 0px 0px;
    float:right
}
.AR {
  
    float:left;
}
.areaVerso{
    border-width: medium;
    border-style: solid;
    border-right-style: dotted;
    width:50px;
    height:30em;
    float: left;
}
.areaVerso p {
    transform: rotate(270deg);
    margin-top: 18em;
    width: 200px;
    margin-left: -80px;
}
.ml-6 {
    margin-left:80px;
}


TD{
	font-size: 10px;	
	vertical-align:top;	
	}
	
#divCodBarras{
width: 460px; 
overflow: auto;
margin: 0px 50%;
}
.BordaInfDir{
    font-weight: 700;
		border-right: 2px solid black;
		border-bottom: 2PX solid black;
}
.BordaInf{
    font-weight: 700;
		border-bottom: 2PX solid black;
}
.BordaEsq{
    font-weight: 700;
		border-left: 2PX solid black;
}
.BordaInfEsq{
    font-weight: 700;
		border-bottom: 2PX solid black;
		border-left: 2px solid black;
}
.BordaSupEsr{
    font-weight: 700;
		border-bottom: 2PX solid black;
}
.BordaDirTracejada{
    font-weight: 700;
		border-right: 1px dotted;
		text-align:center;
		vertical-align:middle;
}

.BordaTodas{
		border-right: 2px solid black;
		border-left: 2PX solid black;
		border-top: 2px solid black;
		border-bottom: 2PX solid black;
}
.style57 {font-size: 7px}
.style58 {font-size: 1px}
.style59 {
	font-size: 11px;
	font-style: italic;
	font-weight: bold;
}
.style60 {
	font-size: 23px;
	font-weight: bold;
}
.style62 {
	font-size: 12px;
	font-weight: bold;
}
.decConteudo {
    width: 100%;
}
.decConteudo table {
    width:100%;
}
.center {
    text-align:center;
}
.declaracao {
    font-size: 16px;
    margin: 5px;
  }
  .row {
    margin-right: -2px;
    margin-left: -2px;
  }
  .row > div {
    padding-right: 2px;
    padding-left: 2px;
  }
  .linha {
    margin-top: 4px;
  }
  .bloco {
    border: 3px solid #333;
    height: 100%;
    text-align: center;
    font-weight: 700;
    width: 100%;
  }
  .celula {
    border: 1px solid #333;
    border-bottom: none;
    text-align: left;
    padding: 0 3px;
    font-size: 14px;
  }
  .celula-unica {
    border-left: none;
    border-right: none;
  }
  .celula.texto {
    line-height: inherit;
  }
  .texto-centro .celula {
    text-align: center;
  }
  .texto-direita .celula {
    text-align: right;
  }
  .tabela > .celula {
    border-right: none;
    border-left: none;
  }
  .tabela > .row > div {
    padding-right: 0;
    padding-left: 0;
  }
  .tabela > .row > div:first-child {
    padding-left: 2px;
  }
  .tabela > .row > div:last-child {
    padding-right: 2px;
  }
  .tabela > .row > div:first-child .celula {
    border-left: none;
  }
  .tabela > .row > div:not(:last-child) .celula {
    border-right: none;
  }
  .tabela > .row > div:last-child .celula {
    border-right: none;
  }
  .texto {
    font-weight: 400;
    font-size: 13px;
  }
  .cinza {
    background: #ddd;
  }
  .ass {
    position: relative;
    border-bottom: 1px solid #666;
  }
  .ass > span {
    position: absolute;
    right: 0;
    bottom: -5px;
    background: #fff;
    padding: 5px;
    line-height: 1;
    font-weight: 400;
  }
  .imprimir {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1;
  }
  @media print {
    .imprimir {
      display: none;
    }
  }
  .textoA {
    padding:80px;
    font-weight: 400;
    font-size: 13px;
  }
  .borde {
    border: 3px solid #000;
    text-align:center;
  }

  .bordaBaixo {
    border-right: 2px solid black;
    border-left: 2PX solid black;
    border-top: 2px solid black;
  }
  .bordCimaBaixo {
    text-align:center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
  }
  .romane {
    width:100%;
    font-size:12px;
  }
  .romane td {
    
    font-size:14px;
    text-align:center;
  }
  .bordaT td{
    font-size:14px;
    text-align:center;
    font-weight:800;
  }