{#
 # ---------------------------------------------------------------------
 #
 # GLPI - Gestionnaire Libre de Parc Informatique
 #
 # http://glpi-project.org
 #
 # @copyright 2015-2023 Teclib' and contributors.
 # @copyright 2003-2014 by the INDEPNET Development Team.
 # @licence   https://www.gnu.org/licenses/gpl-3.0.html
 #
 # ---------------------------------------------------------------------
 #
 # LICENSE
 #
 # This file is part of GLPI.
 #
 # This program is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # This program is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with this program.  If not, see <https://www.gnu.org/licenses/>.
 #
 # ---------------------------------------------------------------------
 #}

{% set links = menu[sector]['content'][item]['options'][option]['links'] ?? menu[sector]['content'][item]['links'] %}
{% set lists_itemtype = menu[sector]['content'][item]['options'][option]['lists_itemtype'] ?? menu[sector]['content'][item]['lists_itemtype'] %}
{% if lists_itemtype is empty %}
    {% set lists_itemtype = item %}
{% endif %}

{# @TODO  border-start is not implemented in current boostrap beta (remove border-left when done)  #}
<ul class="nav navbar-nav border-start border-left ps-1 ps-sm-2 flex-row">

{% if links['add'] is defined %}
<li class="nav-item">
   <a href="{{ path(links['add']) }}" class="btn btn-icon btn-sm btn-secondary me-1 pe-2 adicionar" title="{{ __('Add') }}">
      <i class="ti ti-plus"></i>
      <span class="d-none d-xxl-block">{{ __('Add') }}</span>
   </a>
</li>
{% endif %}

{% if links['search'] is defined %}

{% endif %}

{% if links['lists'] is defined %}

{% endif %}

{% for type, link in links %}
   {% if type == 'add' or type == 'search' or type == 'lists' %}
   {% elseif type == 'template' %}

   {% elseif type == 'showall' %}

   {% elseif type == 'summary' %}

   {% elseif type == 'summary_kanban' %}
    
   {% elseif type == 'transfer_list' %}
   {% elseif type == 'config' %}
      
   {% else %}
    
   {% endif %}

{% endfor %}
</ul>
