<script src="../assets/css/fa6.js" crossorigin="anonymous"></script>
<script src="../assets/js/notificacao.js" crossorigin="anonymous"></script>
<i class="fa-regular fa-bell fa-xl"></i>   
<span class='badge badge-secondary' title='teste'>{{qtd}}</span>